body {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.title {
    font-weight: 600;
}

.caption {
    font-weight: 200;
}

.spaced {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}